# Dependencias
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# Misc
*.md
!README.md
